@import './variabili.scss';
@import './mixin.scss';

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container */
.container-default {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.container-default-2 {
    width: 90%;
    margin: 0 auto;
}

/* Padding */
.p_10 {
    padding: 10px;
}

.p_20 {
    padding: 20px;
}

.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.p_50 {
    margin: 50px auto;
}

/* Background */
.bg-custom-blue {
    background-color: $dark-blue;
}

.bg-custom-dark-blue {
    background-color: $dark-blue-dark;
}

.bg-custom-black {
    background-color: black;
}

/* Color */
.text_white {
    color: white;
}

.text_red {
    color: red;
}

/* Height */
.h-10-vh {
    height: 10vh;
}

.h-20-vh {
    height: 20vh;
}

.h-50-vh {
    height: 50vh;
}

.h-90-vh {
    height: 90vh;
}

/* Display */
.d_flex {
    display: flex;
}

.d_none {
    display: none;
}

/* Flex */
.align_center {
    align-items: center;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
}

.flex_col {
    flex-direction: column;
}

.flex_row {
    flex-direction: row;
}

.flexRowWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexColWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flexBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Border */
.b-rounded {
    border-radius: 20px;
}

.b-1-w {
    border: 1px solid white;
}

.b-none {
    border: none;
}

/* Font */
.fw_b {
    font-weight: bold;
}

.fs_1 {
    font-size: 0.8;
} 

.fs_2 {
    font-size: 1em;
} 

.fs_3 {
    font-size: 1.2em;
} 

.fs_4 {
    font-size: 1.4em;
} 

.fs_5 {
    font-size: 1.6em;
} 

.fs_6 {
    font-size: 1.8em;
} 

.fs_7 {
    font-size: 2em;
} 

.fs_8 {
    font-size: 2.4em;
} 

/* Text Trasform */
.text_uppercase {
    text-transform: uppercase;
}

.text_lowercase {
    text-transform: lowercase;
}

.text_capital {
    text-transform: capitalize;
}